*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Jost", sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style: none;
}

img{
    height: 100%;
    width: 100%;
}

.font-white{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

/* see-more */
.see-more{
    display: inline-block;
    padding: 10px 0;
    margin: 10px;
}

.see-more span{
    margin-right: 15px;
}

.see-more > a{
    color: black;
    font-size: 15px;
}

.line-see-more{
    height: 1px;
    margin-top: 10px;
    width: 0%;
    background-color: #000;
    transition: width 0.5s ease-in-out;
}

.see-more:hover .line-see-more{
    width: 100%;
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > *{
    width: 95vw;
}


/* dynamic navbar */
#dynamic-navbar{
    position: fixed;
    background-color: black;
    top: 0;
    height: 80px;
    z-index: 20;
    width: 100%;
    transform: translateY(-80px);
}

#dynamic-navbar > .menu-list{
    align-items: center;
    height: 100%;
}


@keyframes showNavbar{
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes hiddenNavbar{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-80px);
    }
}

/* wrapper */


.wrapper::before{
    width: 100%;
    position: absolute;
    content: "";
    height: 344px;
    opacity: 1;
    border-radius: 20px;
    z-index: -5;
} 

.wrapper::after{
    width: 100%;
    position: absolute;
    content: "";
    height: 344px;
    opacity: 1;
    border-radius: 20px;
    z-index: -5;
    bottom: 0;
} 

.header-top-item{
    display: flex;
    justify-content: start;
}

.header-top-item > a{
    display: block;
    color: #fff;
    font-size: 15px;
    margin: 20px;
}

.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
}

.menu-item > a{
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 20px;
    margin: 20px;
    font-weight: 700;
    z-index: 20;
    min-width: 80px;
}

.menu-item-logo > a{
    min-width: 200px;
    max-width: 250px;
}

.menu-item-login > a{
    border: 2px solid white;
    border-radius: 10px;
}

/* row footer */
.footer{
    background-color: #000;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    padding: 30px 20px;
    border-radius: 50px;
    font-size: 18px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-item > *{
    margin: 20px;
}

.footer-item-content-title{
    font-weight: 700;
}

.social > i{
    width: 15%;
    margin: 10px;
}

.footer-img > img{
    width: 60%;
} 